.form {
  width: 100%;
}

.icon {
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.emojiWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.emojiPicker {
  position: absolute;
  bottom: 48px;
  right: 0;
  z-index: 10;
}
